extends layout 

block content 
  h1= title 
    - let id = toShow._id 
    - let Dumbell_brand = toShow.Dumbell_brand 
    - let Dumbell_material = toShow.Dumbell_material 
    - let Dumbell_weight = toShow.Dumbell_weight 
    div.row(class='mb-2') 
        div.mr-1  ID is 
        div #{id} 
    - let actionid = "/resource/dumbells/" + id 
    form(id='dumbellForm', action= actionid, method="PUT") 
        div.form-group 
            label.dumbellAttr(for='Dumbell_brand') dumbell Name 
            input#Dumbell_brand(type='text', name='Dumbell_brand', value= Dumbell_brand ) 
        div.form-group 
            label.dumbellAttr(for='Dumbell_material') dumbell Company 
            input#Dumbell_material(type='text', name='Dumbell_material', value= Dumbell_material ) 
        div.form-group 
            label.dumbellAttr(for='Dumbell_weight') dumbell Size 
            input#Dumbell_weight(type='number', name='Dumbell_weight', value= Dumbell_weight ) 
        input(type="submit") 
    script. 
        document.forms['dumbellForm'].addEventListener('submit', (event) => { 
        event.preventDefault(); 
        // TODO do something here to show user that form is being submitted 
        fetch(event.target.action, { 
            method: 'PUT', 
            body: new URLSearchParams(new FormData(event.target)) 
        }).then((resp) => { 
            return resp.json(); // or resp.text() or whatever the server sends 
        }).then((body) => { 
            alert("Update succeded") 
            // TODO handle body 
        }).catch((error) => { 
            // TODO handle error 
            alert("Update failed " + error ) 
        }); 
        });